# Load Image

In [19]:
import cv2
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#matplotlib inline  # if you are running this code in Jupyter notebook

img = cv2.imread('dataset_train/fake/image_0.png', 0)

# Serialize img
flat = img.flatten()

df = pd.DataFrame(flat.reshape(1,flat.shape[0]))

df

# flat = flat.reshape(flat.shape[0],1)
# print(flat.shape)
# plt.imshow(flat, cmap='gray')

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,119,0,0,0,0,0,0,0,0,0